:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bgc-color: #f5f4fa;
  --dark-bg-color: #2f303a;
}
/* вторичный цвет боди #F5F4FA */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.setion {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ==========COMPONENTS========== */
.modal-form-btn {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: 154px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
.modal-close-btn:hover {
  fill: var(--accent-color);
}
/* ==========L O G O========== */
.logo {
  color: #000000;
  font-family: raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}
.logo-color {
  color: var(--accent-color);
}

/* ==========SITE - NAV========== */
.site-nav .menu-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms linear;
}
.site-nav .menu-link.current {
  color: var(--accent-color);
  position: relative;
}
.site-nav .menu-link.current:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  bottom: -30px;
}

.navigation {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-container {
  display: flex;
  align-items: center;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .menu-link:hover,
.site-nav .menu-link:focus,
.site-nav .menu-link:active {
  color: var(--accent-color);
  letter-spacing: 0.02em;
}

.site-nav .menu-link.current {
  color: var(--accent-color);
}

/* ==========C O N T A C T S - l I S T========== */
.contacts {
  display: flex;
  margin-left: auto;
}
.border {
  border-bottom: 1px solid #ececec;
}

.contacts-list-icon {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
}
.contacts-list-item {
  display: flex;
  margin-right: 30px;
}

.contacts-list-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: color 250ms linear;
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--accent-color);
}

.contacts-list-link:hover .contacts-list-icon,
.contacts-list-link:focus .contacts-list-icon {
  fill: var(--accent-color);
}

.header-tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-mail {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
  text-decoration: none;
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* ==========H E R O========== */
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  align-items: center;
  margin: 0 auto;
}

/* ==========FEATURES - LIST========== */
.features-item {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  width: 270px;
  height: 75px;
  padding-top: 10px;
}

.features-list-icon {
  width: 70px;
  height: 70px;
}
.features-bgc {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-list .item {
  width: 270px;
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

/* ==========SECTION - TITLE========== */
.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.section {
  padding-bottom: 94px;
}

.img-item {
  display: flex;
  flex-wrap: wrap;
}

.img-list:not(:last-child) {
  margin-right: 30px;
}

.section-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.activity-list-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.activity-list-item:not(:last-child) {
  margin-right: 30px;
}

/* ==========TEAM - LIST========== */
.team-list {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-list-bgc {
  display: block;
  background-color: #fff;
  border: solid 1px var(--primary-white-color);
  width: 270px;
  padding: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-works {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 250ms linear, color 250ms linear;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms linear;
}

.section-item {
  display: flex;
  flex-wrap: wrap;
}
.section-img:not(:last-child) {
  margin-right: 30px;
}

.team-list .specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
.specialty {
  text-align: center;
  margin-bottom: 16px;
}

/* ==========PROJECT-LIST========== */

.project-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  overflow: auto;
  transform: translateY(100%);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);

  transition: transform 250ms linear;
}

.project-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.project-list-link-wrapper:hover .overlay,
.project-list-link-wrapper:focus .overlay {
  transform: translateY(0%);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  padding: 20px;
  border: solid 1px #eeeeee;
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}
.project-img {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.project-img:hover,
.project-img:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-element {
  width: 370px;
  margin-right: 30px;
  margin-top: 30px;
}
.project-element:nth-child(3n) {
  margin-right: 0;
}

/* ==========B U T T O N========== */

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: 500px;
}
.button.secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: solid 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
}
.btn-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
button {
  cursor: pointer;
}
/* ==========A D R E S S========== */
.adress {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  margin-bottom: 9px;
}

/* ==========ПОСТОЯННЫЕ КЛИЕНТЫ========== */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers-list-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}
.customers-list-link:hover .customers-list-icon,
.customers-list-link:focus .customers-list-icon {
  fill: var(--accent-color);
}
.customers-list-link:hover {
  border-color: var(--accent-color);
}

.customers-list {
  display: flex;
}

.customers-list-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: solid 1px #afb1b8;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  transition: color 250ms linear;
}

/* ==========F O O T E R========== */
.bgc-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-mail {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-bottom: 9px;
  text-decoration: none;
}
.footer-tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.logo-footer {
  color: var(--primary-white-color);
  font-family: raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
}
.footer-list-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #43444d;
}
.footer-social {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.soc-footer.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: var(--accent-color);
}

.footer-list-link:hover .footer-list-icon,
.footer-list-link:focus .footer-list-icon {
  fill: var(--primary-white-color);
}

.right-footer {
  width: 206px;
  height: 80px;
  display: block;
  justify-content: center;
  align-items: center;
}
/* ==========RIGHT RIGHT FOOTER========== */
.subscribe-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.subscribe-form {
  display: flex;
}

.subscribe-mail-field {
  background-color: transparent;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
}

.subscribe-mail-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--primary-white-color);
  font-weight: bold;
  padding: 0;
  line-height: 1.87;
  font-size: 16px;
  display: flex;
  padding: 10px 28px;
  align-items: center;
  cursor: pointer;

  transition: box-shadow 250ms var(--cubic);

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.subscribe-mail-button-ico {
  margin-left: 10px;
}
/* ==========BACKDROP========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  padding: 40px;
}

.button-list-icon {
  width: 18px;
  height: 18px;
  color: #000000;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* ==========MODAL FORM========== */
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-head {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
}
.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-checkbox-desc {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  margin-top: 20px;
}

.modal-form-checkbox-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  margin-right: 8px;
}
.modal-form-check:checked + .modal-form-checkbox-desc::before {
  background-color: #2196f3;
  background-image: url("../images/check.svg");
  background-size: contain;
  border-color: #2196f3;
}
.modal-form-checkbox-link {
  color: #2196f3;
}
