.bgc-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--primary-white-color);
  font-family: raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
}
.adress {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-mail {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-bottom: 9px;
  text-decoration: none;
}
.footer-tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
}
.footer-list-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #43444d;
}
.footer-social {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.soc-footer.container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: var(--accent-color);
}

.footer-list-link:hover .footer-list-icon,
.footer-list-link:focus .footer-list-icon {
  fill: var(--primary-white-color);
}
