.right-footer {
  width: 206px;
  height: 80px;
  display: block;
  justify-content: center;
  align-items: center;
}

.subscribe-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.subscribe-form {
  display: flex;
}

.subscribe-mail-field {
  background-color: transparent;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
}

.subscribe-mail-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--primary-white-color);
  font-weight: bold;
  padding: 0;
  line-height: 1.87;
  font-size: 16px;
  display: flex;
  padding: 10px 28px;
  align-items: center;
  cursor: pointer;

  transition: box-shadow 250ms var(--cubic);
}

.subscribe-mail-button-ico {
  margin-left: 10px;
}
