.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  padding: 40px;
}

.button-list-icon {
  width: 18px;
  height: 18px;
  color: #000000;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
